<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="部落冲突">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/vue.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/static/css/video.css">


</head>
<body>
    <div id="important" style="color:#cdbfe3; background-color:#6f5499; padding:10px 200px; margin:-20px 0 20px 0;">
        <div class="container">
            <h1 style="color:#fff; font-size:50px">部落冲突 全军出击</h1>
           
        </div>
    </div>
    {% block main %} {% endblock %}
    <footer style="background-color:#ddd; padding: 20px 0;">
        <div class="container">
        
            <p>版权所有 <a target="_blank" href="">@万值秋</a>.</p>
        </div>
    </footer>
</body>
</html>