{% extends "base.html" %} {% block main %}

<div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-user"></span> 注册</h3>
        </div>
        <div class="panel-body">
            <form action="/register" method="post">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" name="phone" class="form-control" placeholder="请输入手机号">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" name="password" class="form-control" placeholder="请输入密码">
                    
                </div>
                <button type="submit" class="btn btn-primary">立即注册</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}